[Desktop Entry]
Exec=kcmshell4 colibri
Icon=preferences-desktop-notification
Type=Service
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_colibri
X-KDE-ParentApp=kcontrol
Categories=Qt;KDE;X-KDE-settings-looknfeel;

X-KDE-System-Settings-Parent-Category=notifications
X-KDE-System-Settings-Parent-Category-V2=application-and-system-notifications
X-KDE-Keywords=notification

Name=Colibri Notifications
Name[sr]=Колибри обавештења
Name[sr@latin]=Kolibri obaveštenja
Name[de]=Colibri Benachrichtigungen
Name[tr]=Colibri Bildirimleri
Name[es]=Notificaciones de Colibrí

Comment=Configure Colibri notifications
Comment[sr]=Подешавање Колибри обавештења
Comment[sr@latin]=Podešavanje Kolibri obaveštenja
Comment[de]=Colibri Benachrichtigungen konfigurieren
Comment[tr]=Colibri bildirimlerini yapılandır
Comment[es]=Configurar las notificaciones de Colibrí
