[Desktop Entry]
Name=Colibri
Name[cs]=Colibri
Name[de]=Colibri
Name[es]=Colibri
Name[et]=Colibri
Name[fr]=Colibri
Name[nl]=Colibri
Name[pt]=Colibri
Name[pt_BR]=Colibri
Name[sk]=Colibri
Name[sv]=Colibri
Name[tr]=Colibri
Name[uk]=Colibri
Name[x-test]=xxColibrixx
Exec=colibri
Icon=notifications
Type=Application
Comment=Colibri autostart at login
Comment[cs]=Automatické spouštění Colibri při startu
Comment[de]=Autostart von Colibri bei der Anmeldung
Comment[es]=Inicio automático de Colibri al iniciar sesión
Comment[et]=Colibri automaatne käivitamine sisselogimisel
Comment[fr]=Démarrage automatique de Colibri à la connexion
Comment[nl]=Colibri automatisch starten bij aanmelden
Comment[pt]=Auto-arranque do Colibri no início
Comment[pt_BR]=Carrega o Colibri automaticamente no início da sessão
Comment[sk]=Automatické spustenie Colibri pri prihlásení
Comment[sv]=Automatisk start av Colibri vid inloggning
Comment[tr]=Colibri, oturum açıldığında otomatik başlat
Comment[uk]=Автозапуск Colibri під час входу до системи
Comment[x-test]=xxColibri autostart at loginxx
Terminal=false
X-KDE-autostart-condition=colibrirc:General:AutoStart:true
