[Desktop Entry]
Name=Colibri
GenericName=Notification System
Exec=colibri
Icon=notifications
Type=Application
Comment=Colibri provides lightweight notifications for KDE Plasma
Terminal=false
X-KDE-autostart-condition=colibrirc:General:AutoStart:true
