[Desktop Entry]
Name=Colibri
Name[cs]=Colibri
Name[de]=Colibri
Name[es]=Colibri
Name[et]=Colibri
Name[fr]=Colibri
Name[mr]=कोलिब्री
Name[nl]=Colibri
Name[pt]=Colibri
Name[pt_BR]=Colibri
Name[sk]=Colibri
Name[sv]=Colibri
Name[tr]=Colibri
Name[uk]=Colibri
Name[x-test]=xxColibrixx
GenericName=Notification System
GenericName[cs]=Systém oznamování
GenericName[de]=Benachrichtigungssystem
GenericName[pt]=Sistema de Notificações
GenericName[sv]=Underrättelsesystem
GenericName[uk]=Система сповіщень
GenericName[x-test]=xxNotification Systemxx
Exec=colibri
Icon=notifications
Type=Application
Comment=Colibri provides lightweight notifications for KDE Plasma
Comment[cs]=Colibri poskytuje jednoduché oznamování pro Plasma KDE
Comment[pt]=O Colibri oferece notificações leves para o Plasma no KDE
Comment[sv]=Colibri tillhandahåller lättviktiga underrättelser för KDE Plasma
Comment[uk]=Colibri — невибагливі до ресурсів сповіщення для Плазми KDE
Comment[x-test]=xxColibri provides lightweight notifications for KDE Plasmaxx
Terminal=false
X-KDE-autostart-condition=colibrirc:General:AutoStart:true
